body {
    text-align: center;
    font-family: Avenir;
}

img {
    height: 200px;
    width: 200px;
}

a {
    margin: 50px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    color: black;
}

a:hover {
    background-color: grey;
    color: white; 
}